body {
  width: 1000px;
  margin: 0px auto;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 2px;
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  overflow: scroll;
  height: 500px;
  
}

/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #f57900;
}
.pen-title span a {
  color: #f57900;
  font-weight: 600;
  text-decoration: none;
}

/* Form Module */
.form-module {
  position: relative;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #f57900;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  border-color: #000000;
  
  
}
.form-module .toggle {
  position: absolute;
  top: -0;
  right: -0;
  background: #f57900;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
    
  
}
.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  left: 40px;
  width: 100px;
  
  
  
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
  
}
.form-module .form {
  display: none;
  padding: 40px;
  
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 20px;
  color: #f57900;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  
}
.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #2e3436;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module input:focus {
  border: 1px solid #f57900;
  color: #333333;
}
.form-module button {
  cursor: pointer;
  background: #fcaf3e;
  width: 100%;
  border: 0;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 1.4rem;
}
.form-module button:hover {
  background: #f57900;
}
.form-module .cta {
  background: #555753;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #2e3436;
  font-size: 12px;
  text-align: center;
}
.form-module .cta a {
  color: #2e3436;
  text-decoration: none;
}

//.chart {
//  width: 100%; 
//  min-height: 80%;
//}

//.row {
//  margin:0 !important;
//}
