table button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
header.section {
  margin-top: 10px;
}
.pull-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.button-icon {
  font-size: 1.4rem;
  vertical-align: bottom;
}
.button-icon.tooltip {
  position: relative;
}

.button-icon.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 0.8rem;
    opacity: 0.8;
    top: 30px;
}

.button-icon.tooltip:hover .tooltiptext {
  visibility: visible;
}
.button-icon.tooltip > div.tooltip-content {
  visibility: hidden;
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 5px 15px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  right: 0;
  font-size: 0.7rem;
  border: 1px solid #BBB;
  color: #555;
}
.button-icon.tooltip.visible > div.tooltip-content {
  visibility: visible;
}
.button-icon.tooltip > div.tooltip-content::after {
  content: '';
  position: absolute;
  top: 100%;
  right: 30px;
  width: 0;
  height: 0;
  border-top: 8px solid #BBB;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.button-icon.tooltip > div.tooltip-content > span {
  margin: 0 5px;
}
.button-link {
  border: none;
  text-decoration: none;
}
.button-link:hover {
  text-decoration: underline;
}
.button-action {
  min-width: 80px;
}
.button-secondary {
  border: 1px solid #F06033;
  color: #FFF;
  background-color: #F06033;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}
.button-secondary:hover, .button-secondary:focus {
  color: #FFF;
  background-color: #E04210;
  border-color: #E04210;
}
.button-secondary:active {
  color: #FFF;
  background-color: #C83B0F;
  border-color: #C83B0F;
}
.status-label {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
}
.status-label.running {
  background-color: #33F060;
}
.status-label.stopped {
  background-color: #F06033;
}
.status-label.reboot {
  background-color: #6033F0;
}
.status-label.reinit {
  background-color: #F0BF33;
}
.status-label.not-available {
  background-color: #3365F0;
}
#info-section {
  width: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  color: white;
  padding: 70px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  overflow: auto;
}
#info-section.hide {
  left: -30%;
}

#info-section button.buttonEdit {
  color: white;
  position: absolute;
  right: 20px;
  top: 80px;
}
#info-section button.buttonSave {
  color: white;
  width: 100%;
}
#info-section button.buttonCancel {
  color: white;
  width: 100%;
}
#info-section button.buttonExit {
  font-size: 2rem;
  color: white;
  position: absolute;
  right: 20px;
  top: 20px;
  margin: 0;
  border: none;
  padding: 0;
}
#info-section th {
  color: white;
  border: 0;
  margin: 5px;
  padding: 5px; 
}

#info-section th.label_param {
  font-size: 100%;	
  color: white;
  border: 0;
  margin: 5px;
  padding: 5px; 
  font-weight: normal
}
#info-section th.title_param {
  font-size: 120%;	
  color: white;
  border: 0;
  margin: 5px;
  padding: 5px; 
}
#info-section td {
  color: white;
  border: 0;
  margin: 5px;
  padding: 5px; 
  border-bottom: 1px solid #8c8b8b;
  
}

#info-section input {
  margin: 1px;
  padding: 1px; 
  width: 100%;
  height: 25px;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 1000px;
  margin: 0px auto;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  overflow: scroll;
  height: 500px;
}

.modal-container-message {
  width: 350px;
  margin: 0px auto;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  height: 140px;
}
.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 10px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* spinner */

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #030000;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #ffa41b;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #ffa41b;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

